# 👉 Виртуальная среда
venv/
env/

# 👉 Компилированные файлы Python
__pycache__/
*.py[cod]
*.so

# 👉 Файлы временных логов
*.log

# 👉 Файлы и директории IDE/редакторов
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# 👉 Системные файлы
.DS_Store
Thumbs.db

# 👉 Личные настройки
.env

# 👉 Исключаем папку с тяжёлыми моделями/векторными матрицами
Files/
*.pkl

# 👉 Jupyter ноутбуки (если есть)
.ipynb_checkpoints/
Files/
